*{
    padding: 0;
    margin: 0;
    font-family: fontPersonalizzato,TimesNewRoman;
}
@font-face {
  font-family: fontPersonalizzato;
  src: url(Ubuntu-L.ttf);
}
h1{
    text-align: center;
    margin: 10px;
}
#Title{
    height: 500px;
    text-align: center;
    color: white;
    margin: 0 auto;
    background-color:#2c2e31;
    border: 2px solid #4CAF50;
}
#FiltroUtenti{
    height: 400px;
    width: 600px;
    text-align: center;
    color: #2c2e31;
    margin: 0 auto;
    margin-top: 250px;
    margin-bottom: 20px;
    background-color:#eee;
    border: 1px solid #2c2e31;
    border-radius: 5px;
    background-color: white;
}
#FiltroUtenti h3{
    color: #2c2e31;
    font-size: 25pt;
    padding-top: 10px;
}
#txtUtenti{
    width: 120px;
    margin: 0 auto;
    background-color:#9f9f9f;
    border:0;
    border-radius: 5px;
    text-align: center;
    color:white;
}
#genera,.btnNav{
    background-color: #9f9f9f;
    color: white;
    margin:20px;
    border-radius: 5px;
    border:0;
    padding: 10px;
    width: 150px;
    height: 50px;
    font-size: 15pt;
}
#genera:focus,.btnNav:focus {
    outline:none;
}
#genera:hover,.btnNav:hover{
    background-color: gray;
}
#genera:active,.btnNav:active{
     background-color:white;
    color: gray;
}
body{
    background-color: #efefef;
}
#wrapper{
    position: absolute;
    width: 750px;
    height: 500px;
    left: 50%;
    margin-left: -375px;
    margin-bottom: 50px;
    top: 220px;
    background-color: white;
    border-radius: 5px;
    border-bottom: 2px solid #dbdbdb;
    overflow: hidden;
}
#imgPerson{
    width: 150px;
    height: 150px;
    position: absolute;
    top: 75px;
    left: 50%;
    margin-left: -80px;
    background-color: white;
    padding: 5px;
    border-radius: 80px;
    border: 2px solid #dbdbdb;
}
#separatore{
    border-bottom: 2px solid #dbdbdb;
    height: 150px;
    background-color: #efefef;
    border-top-left-radius: 5px;
    border-top-right-radius:5px;
}
#dettagli{
    margin-top: 85px;
    text-align: center;
}
#dettagli h3{
    font-weight: normal;
    color:gray;
    padding-top: 5px;
}
#wrapperImg{
    height: 60px;
    width:560px;
    overflow: hidden;
    position: absolute;
    margin-left: -280px;
    top:320px;
    left:50%;
}
#wrapperNav{
    position: absolute;
    width: 400px;
    top:380px;
    left:50%;
    margin-left: -200px;
}
.btnNav{
    width: 130px;
}
.imgs{
    position: relative;
    width: 50px;
    margin: 20px;
    height: 100px;
}
#divTitle h1{
    font-size: 35pt;
}
#divTitle{
    padding-top: 50px;
}
#divTitle h3{
    font-family: sans-serif;
    font-weight: 100;
}
#FiltroUtenti input{
    margin: 15px;
}
#FiltroUtenti p{
    font-size: 18pt;
    display: inline;
}
legend{
    font-size: 25pt;
    color: #4CAF50;
    text-align: left;
    margin-left: 50px;
    font-style: oblique;
    font-weight: bold;
}
#genera{
}